

<app-menu-title></app-menu-title>
<div class="container-articles">
    <div class="articles-main">
    <app-big-card 
    id="1"
    photoCover="https://wallpaperaccess.com/full/8203887.jpg"
    cardTitle="ELE ESTÁ DE VOLTA!!!"
    cardDescription="Call of Duty: Modern Warfare II"
    ></app-big-card>
    
    </div>
    <div class="articles-others">
        <app-small-card 
        id="2"
        photoCover="https://wallpaperaccess.com/full/8203880.png"
        cardTitle="Conheça o Caveria Ghost"
        ></app-small-card>
        <app-small-card 
        id="3"
        photoCover="https://wallpaperaccess.com/full/8203883.jpg"
        cardTitle="O caveira mais temido da face da Terra!"
        ></app-small-card>
        <app-small-card 
        id="4"
        photoCover="https://wallpaperaccess.com/full/8203912.jpg"
        cardTitle="Veja o golpe finalizador do Ghost "
        ></app-small-card>
    
    </div>

    
</div>
