<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container-articles">
    <div class="articles-main">
    <app-big-card photoCover="https://wallpaperaccess.com/full/8203887.jpg"
    cardTitle="NOTÍCIA URGENTE!!!!"
    cardDescription="Call of Duty: Modern Warfare II"
    ></app-big-card>
    
    </div>
    <div class="articles-others">
        <app-small-card photoCover="https://wallpaperaccess.com/full/8203880.png"
        cardTitle="A incrivél história de Azazel"
        ></app-small-card>
        <app-small-card photoCover="https://wallpaperaccess.com/full/8203883.jpg"
        cardTitle="Veja o golpe finalizador do Ghost
        !"
        ></app-small-card>
        <app-small-card photoCover="https://wallpaperaccess.com/full/8203892.jpg"
        cardTitle="A arma secreta do caveira mais temido da face da Terra!"
        ></app-small-card>
    
    </div>

    
</div>
