/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

/*body {
    background-image: "https://wallpaperaccess.com/full/8203880.png";
    background-position:center;
    width: 100%;
    justify-content: end;

}*/